@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-BlackCondensed.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-UltraLightCond.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro Condensed';
  src: url("./fonts/DINNextLTPro-BoldCondensed.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next Rounded LT Pro';
  src: url("./fonts/DINNextRoundedLTPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-UltraLightIt.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-UltraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Condensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Next Rounded LT Pro';
  src: url("./fonts/DINNextRoundedLTPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Heavy.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-HeavyItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next Rounded LT Pro';
  src: url("./fonts/DINNextRoundedLTPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next Rounded LT Pro';
  src: url("./fonts/DINNextRoundedLTPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro Medium Cond';
  src: url("./fonts/DINNextLTPro-HeavyCondensed.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-LightCondensed.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-MediumCond.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url("./fonts/DINNextLTPro-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/RobotoRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("./fonts/RobotoLight.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./fonts/RobotoMedium.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/RobotoBold.ttf");
  font-style: normal;
  font-weight: normal;
}
/*# sourceMappingURL=fonts.css.map */